div(layout, layout-wrap, layout-align='space-between center')
  md-button.md-primary(flex='45', flex-xs='100', ui-sref='specialization') 
    md-icon(md-font-icon='icon-home')
    | Ймовірність вступу на спеціальність
  md-button( flex='45', flex-xs='100', ui-sref='field') 
    md-icon(md-font-icon='icon-settings')
    | Бюджетні місця за напрямом
