div(layout, layout-wrap, layout-align='space-between center')
  md-button.md-raised(flex='40', flex-offset='5', flex-xs='100', ui-sref='specialization') 
    //- i.material-icons icon-home
    | Ймовірність вступу на спеціальність
  md-button.md-raised.md-primary( flex='40', flex-offset='5', flex-xs='100', ui-sref='field') 
    //- i.material-icons icon-settings
    | Бюджетні місця за напрямом
