div(layout, layout-wrap, layout-align='space-between center')
  md-button.md-primary(flex='45', flex-xs='100', ui-sref='specialization') 
    md-icon(md-font-icon='icon-home')
    | Ймов1рн1сть вступу на спец1альн1сть
  md-button( flex='45', flex-xs='100', ui-sref='field') 
    md-icon(md-font-icon='icon-settings')
    | Бюджетн1 м1сця за напрямом
