div(layout, layout-fill='')
  div(layout, flex='100', layout-wrap)
    md-button.md-primary(flex='45', flex-xs='100', ui-sref='field') 
      md-icon(md-font-icon='icon-home')
      | Д1знатись ймов1рн1сть вступу
    md-button( flex='45', flex-xs='100', ui-sref='specialization') 
      md-icon(md-font-icon='icon-settings')
      | Знайти бюджетн1 м1сця

div
  | User id: {{vm.userData.id}}
div
  | Ukr: {{vm.userData.subjects.ukr.score}}
