md-content(layout='column', layout-wrap)
  .md-headline(ng-if='!vm.specializations && loaded') Помилка. Спеціальностей не знайдено
  .md-headline.md-warn(ng-if='vm.errorMessage', ng-bind='vm.errorMessage')
  div(layout='row', layout-wrap)
    div(ng-repeat='spec in vm.specializations', flex-xs='100', flex-sm='50', flex='33', flex-lg='25' )
      md-card(ng-class='{red: spec.specProbability === -1, grey: spec.specProbability === 0, teal: spec.specProbability == 1, green: spec.specProbability == 2}')
        md-card-title
          md-card-title-text
            span.md-title(ng-bind='spec.universityName')
            span.md-subhead(ng-bind='spec.cityName')
        md-card-content.md-padding
          p.md-body-1(ng-if='spec.universityRank < 101') Рейтинг університету: &ensp;{{spec.universityRank}}
          p.md-body-1(ng-if='spec.universityRank === 101') Університет відсутній в рейтингу топ-100
          p.md-body-1(ng-bind='spec.facultatyName')
          p.md-body-1(ng-bind='spec.specialityName')
          p()
            strong
              span(ng-if='!spec.examNumber') ЙМОВІРНІСТЬ ВСТУПУ НА БЮДЖЕТ
              span(ng-if='spec.examNumber === 1') Вам необхідно набрати {{spec.examScore}} балів на фаховому іспиті, щоб ймовірність вступу на бюджет була
              span(ng-if='spec.examNumber > 1') Вам необхідно здати {{spec.examNumber}} фахові іспити з середнім балом {{spec.examScore}}, щоб ймовірність вступу на бюджет була
              | &ensp;
              span(ng-bind='vm.getProbabilityMessage(spec.specProbability)')

          md-card-actions(layout='row', layout-align='center center')
            md-button.md-raised(
              flex='90',
              ng-href='{{spec.url || "http://vstup.info/"}}',
              target='_blank',
              ng-class='{red: spec.specProbability === -1, grey: spec.specProbability === 0, teal: spec.specProbability == 1, green: spec.specProbability == 2}') 
              span(ng-if='spec.url') Сайт спеціальності
              span(ng-if='!spec.url') Check at source
