{
  "extends": ["eslint:recommended"],
  "plugins": ["angular"],
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "angular": true,
    "ga": true,
    "inject": true,
    "module": true,
    "require": true,
    "_": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
