h2   Score Form
md-content.scoreForm(layout='row')
  md-input-container.md-block(flex="20")
    label Українська мова
    input(type='number', step='any', name='rate', ng-model='vm.userData.ukrScore', min='100', max='200')
  md-input-container.md-block(flex='20', flex-offset='5')
    label Математика
    input(type='number', step='any', name='rate', ng-model='vm.userData.mathScore', min='100', max='200')

  md-input-container.md-block(flex='20', flex-offset='5')
    label Фізики
    input(type='number', step='any', name='rate', ng-model='vm.userData.phisScore', min='100', max='200')

  md-input-container.md-block(flex='20', flex-offset='5')
    label Історії
    input(type='number', step='any', name='rate', ng-model='vm.userData.historyScore', min='100', max='200')

md-input-container.md-block(flex='20')
  label Атестат (100-200)
  input(type='number', step='any', name='rate', ng-model='vm.userData.certificateScore', min='100', max='200')
