
h2   Score Form
md-content(layout, layout-wrap)
  div(ng-repeat="subject in vm.userData.subjects", flex='20', flex-offset='5', flex-xs='45')
    md-checkbox(ng-model='subject.isTested', aria-label='subject.caption') {{subject.caption}}
md-content(layout, layout-wrap)
  md-input-container.md-block(ng-repeat="subject in vm.userData.subjects", ng-if='subject.isTested', flex-offset='5', flex-xs='90', flex-sm='45', flex='20')
    label 
      small {{subject.caption}}
    input(type='number', step='any', name='rate', ng-model='subject.score', min='100', max='200')
md-content(layout, layout-wrap)
  md-input-container.md-block(flex-offset='5', flex-xs='90', flex-sm='45', flex='20')
    label Атестат (100-200)
    input(type='number', step='any', name='rate', ng-model='vm.userData.certificateScore', min='100', max='200')
  md-content(flex-offset='5', flex-xs='90', flex-sm='45', flex='45')
      md-checkbox(ng-model='vm.userData.addPoints.hasAddPoints', aria-label='subject.caption') Я маю додатков1 бали (МАН, ол1мп1ади, п1дготовч1 курси)
md-input-container.md-block(ng-if='vm.userData.addPoints.hasAddPoints', flex-offset='5', flex-xs='90', flex-sm='45', flex='45')
  label 
    small Додаткові бали за диплом Всеукраїнської олімпіади, МАН або випуск з факультету довузівської підготовки
  input(type='number', step='any', name='rate', ng-model='vm.userData.addPoints.score', min='0', max='20')
