
md-content.md-padding(layout, layout-wrap)
  div(ng-repeat="subject in vm.userData.subjects", flex='20', flex-offset='5', flex-xs='45')
    md-checkbox.md-primary(
      ng-model='subject.isTested',
      aria-label='subject.caption',
      ng-disabled='!subject.isTested && vm.validateSubjectNumber()' )
      | {{subject.caption}}
md-content(layout, layout-wrap)
  md-input-container.md-block(ng-repeat="subject in vm.userData.subjects", ng-if='subject.isTested', flex-offset='5', flex-xs='90', flex-sm='45', flex='20')
    label 
      small {{subject.caption}}
    input(type='number', step='0.1', name='rate', ng-model='subject.score', min='100', max='200')
md-content(layout="row", layout-wrap)
  md-input-container.md-block(flex-offset='5', flex-xs='90', flex-sm='45', flex='20')
    label Атестат (100-200)
    input(type='number', step='0.1', name='rate', ng-model='vm.userData.certificateScore', min='100', max='200')
  div(layout, layout-wrap, flex-offset='5', flex-xs='90', flex-sm='45', flex='70')
    md-content(flex='100', flex-gt-sm='50' )
        md-checkbox.md-primary(ng-model='vm.userData.hasOlimpicPoints') Додаткові 10 балів за МАН або Всеукраїнські олімпіади
    md-content(flex='100', flex-gt-sm='50')
        md-checkbox.md-primary(ng-model='vm.userData.hasTrainingPoints') Додаткові 10 балів за випуск з факультету довузівської підготовки
